---
import { getCollection, type CollectionEntry } from 'astro:content'
import type { CollectionTypes } from '../../config/site'
import siteConfig from '../../config/site.js'
import DocumentationLayout from '../../layouts/DocumentationLayout.astro'
import { getCollections, isValidCollection } from '../../lib/collections'

export async function getStaticPaths() {
  return getCollections().map((type) => ({
    params: { type },
  }))
}

const { type } = Astro.params as { type: string }
let pages: CollectionEntry<CollectionTypes>[] = []

if (isValidCollection(type)) {
  pages = await getCollection(type)
} else {
  throw new Error(`Invalid collection type: ${type}`)
}

const groupInfo = siteConfig.navigation.find((nav) => nav.type === type)
if (!groupInfo) {
  throw new Error(`No group info found for type: ${type}`)
}
---

<DocumentationLayout title={groupInfo.group} toc={[]}>
  <h1>{groupInfo.group}</h1>
  <ul>
    {
      groupInfo.pages.map((page) => (
        <li>
          <a href={page.url}>{page.name}</a>
        </li>
      ))
    }
  </ul>
</DocumentationLayout>
