---
import { getCollection } from 'astro:content'
import siteConfig from '../../config/site'
import DocumentationLayout from '../../layouts/DocumentationLayout.astro'
import { getCollections, isValidCollectionType } from '../../lib/collections'
import { type AnyCollectionEntry } from '../../types'

export async function getStaticPaths() {
  return getCollections().map((type) => ({
    params: { type },
  }))
}

const { type } = Astro.params as { type: string }
let pages: AnyCollectionEntry[] = []
if (isValidCollectionType(type)) {
  pages = await getCollection(type)
} else {
  throw new Error(`Invalid collection type: ${type}`)
}

const groupInfo = siteConfig.navigation.find((nav) => nav.type === type)
if (!groupInfo) {
  throw new Error(`No group info found for type: ${type}`)
}

// Generate a TOC from the page titles
const tocItems = pages.map((page) => ({
  depth: 2,
  slug: page.slug,
  text: page.data.title,
  children: [],
}))
---

<DocumentationLayout title={groupInfo.group} toc={tocItems}>
  <h1>{groupInfo.group}</h1>
  <ul>
    {
      pages.map((page) => (
        <li>
          <a href={`/${type}/${page.slug}`}>{page.data.title}</a>
          {page.data.description && <p>{page.data.description}</p>}
        </li>
      ))
    }
  </ul>
</DocumentationLayout>
