---
import Sidebar from '../components/Sidebar.astro'
import Toc from '../components/Toc.astro'
import GroupName from '../components/docs/GroupName.astro'
import PrevNextLinks from '../components/docs/Links.astro'
import Footer from '../components/layout/Footer.astro'
import Header from '../components/layout/Header.astro'
import type { TocItem } from '../lib/toc'
import type { SiteConfig } from '../types'
import MainLayout from './MainLayout.astro'
const siteConfig: SiteConfig = import.meta.env.SITE_CONFIG

interface Props {
  toc: TocItem[]
  title: string
  type?: string
}

const { toc, title, type } = Astro.props
---

<MainLayout title={title}>
  <Header />
  <div class='grid grid-cols-12 lg:px-4'>
    <Sidebar anchors={siteConfig.anchors} navigation={siteConfig.navigation} />
    <main
      class='col-span-12 xl:col-span-9 px-4 lg:px-10 mt-32 lg:pl-72 lg:ml-10'>
      <div class='min-h-screen'>
        <GroupName>{type}</GroupName>
        <h1>{title}</h1>
        <slot />
      </div>
      <PrevNextLinks />
      <Footer />
    </main>
    <Toc toc={toc} />
  </div>
</MainLayout>

<script src='../scripts/toc.js'></script>
